* {
    font-family: poppins;
}

body {
    background-color: #876a52;
}


/* HEADER*/

.header {
    overflow: hidden;
    background-color: transparent;
    padding: 20px 10px;
  }

.header a {
    float: left;
    color: darkorange;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 20px;
}
  
.header img {
    max-width: 30px;
    max-height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
}
  
.header a.active {
    background-color: dodgerblue;
    color: white;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}

/* CONTENT */

.content {
    margin-top: 5rem;

    display: grid;
    grid-template-columns: repeat(2, 400px);

    justify-content: center;;
    justify-items: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
}

.player .ROCK{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 30px 30px 30px;

    justify-content: center;
    justify-items: center;
    align-items: center;

    margin-top: 100px;
    padding: 10px;

    cursor: pointer;
    transition: 0.2s;
}

.player .ROCK .batu:hover{
    transform: translateY(-3px);
    transition: 0.2s;
}

.player .SCISSORS{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 30px 30px 30px;

    justify-content: center;
    justify-items: center;
    align-items: center;

    margin-top: 100px;
    padding: 10px;

    cursor: pointer;
}

.player .SCISSORS .gunting:hover{
    transform: translateY(-3px);
    transition: 0.2s;
}

.player .PAPER{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 30px 30px 30px;

    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    
    padding: 10px;
    cursor: pointer;
}

.player .PAPER .kertas:hover{
    transform: translateY(-3px);
    transition: 0.2s;
}

.info {
    font-size: 3rem;
    color: maroon;
    font-weight: bold;
}


.refresh img {
    margin-left: 400px;
    margin-top: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

